if command -v nix >/dev/null 2>&1; then
    use flake . --impure
elif command -v nvm >/dev/null 2>&1; then
    export NODE_VERSIONS=~/.nvm/versions/node
    export NODE_VERSION_PREFIX=v

    use node
fi

layout node
